* {
  box-sizing: border-box;

}
ul {
  list-style-type: none;
}
body {
  font-size: 62.5%;
  font-family: Verdana, sans-serif;
  background-color: #fafafa;
  margin: 0;
}
/*Container for Wholepage*/
#allContainer {
  width: 90%;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
}
/*Container for Calendar + Stickys*/
.leftContainer {
  float: left;
  width: 60%;
}

.calendarContainer {
  width: 100%;
  height: 39em;
  border-radius: 1em 1em 0 0;
  background-color: rgba(69,113,218,1);
}
/*Calendar*/
.monthYear {
  width: 100%;
  height: 20%;
  background-color: rgba(15,51,94,1);
  text-align: center;
  padding: 2.5em 2em;
  border-radius: 1em 1em 0 0;
}
.monthYear ul {
  padding: 0;
  margin: 0;
}

.monthYear ul li {
  color: rgba(128,194,255,1);
  font-size:1.5em;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}
.monthYear #year {
  font-size: 0.95em;
}
.monthYear .prev {
  float: left;
  padding-top: 0.5em;
}
.monthYear .prev,.next:hover {
  cursor: pointer;
}
.monthYear .next {
  float: right;
  padding-top: 0.5em;
}

.dayNames {
  background-color: rgba(16,78,148,1);
  padding: 0.8em 0;
  margin: 0;
}
.dayNames li{
  display: inline-block;
  width: 13.6%;
  margin-right: -0.11em;
  text-align: center;
  font-size: 1.2em;
  color: rgba(128,194,255,1);
}
.dates {
  background-color: rgba(69,113,218,1);
  padding: 0.8em 0;
  margin: 0;
}
.dates li{
  display: inline-block;
  width: 13.6%;
  padding:1em 0;
  margin: 0 0.2em 0 0;
  text-align: center;
  font-size: 1.3em;
  color: rgba(128,194,255,1);
}
.active {
  background-color: #1abc9c;
  color: white !important
}

/*Stickys*/
#stickysContainer {
  float: left;
  position: relative;
  background-image: url(https://bitbit-10.github.io/personal-dashboard/images/board.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 66.67%;
  margin-top: 5%;
  border-radius: 1em;
  width: 100%;
}
#newNoteButton {
  position: absolute;
  top: 3%;;
  left: 2%;
  cursor: pointer;
	font-size: 1.5em;
	padding: 0.5em;
	border-radius: 0.2em;
	background: #545454;
  color: #bdbdbd;
  letter-spacing: 0.02em;
	border: 0;
  }

#newNoteButton:hover  {
	background: rgba(69,113,218,1);
  color: lightyellow;
}
.sticky {
  position: absolute;
  height: 19em;
  width: 20em;
  background-color: rgb(255, 255, 204);
  -webkit-box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
  cursor: text;
}

.closeButton {
  position: absolute;
  display: none;
  background-image: url(https://bitbit-10.github.io/personal-dashboard/images/remove.png);
  height: 3em;
  width: 3em;
  top: -15px;
  left: -15px;
  cursor: pointer;
}

.sticky:hover .closeButton {
  display: block;
}

.text {
  margin: 1em;
  font-size: 1.2em;
  max-height:12em;
}
.text:focus {
  outline:0;
}

.timestamp {
  position: absolute;
  background-color: rgb(240, 230, 140);
  font-size: 0.8em;
  bottom: 0;
  left: 0;
  height: 2em;
  padding-top: 0.3em;
  padding-left: 0.3em;
  width: 100%;
}

/*Youtube*/
#youtubeContainer {
  position: relative;
  width: 35%;
  float: left;
  margin-left: 5%;
  margin-top: 0.5%;
  border-radius: 1em 1em 0 0;
  background-color: #fafafa;
}
#searchContainer {
  margin-top: 10%;
  margin-bottom: 5%;
  height: 3em;
}
#search {
  width: 65%;
  height: 100%;
  font-size: 1.2em;
  letter-spacing: 0.015em;
}
#searchBtn {
  width: 30%;
  height: 100%;
  margin-left: 5%;
  cursor: pointer;
  font-size: 1.25em;
  letter-spacing: 0.06em;
  border-radius: 0;
  color: #bdbdbd;
  background: #545454;
  border: 0;
}
#result {
  font-size: 1.2em;
  color: #151515;
}
#iframeContainer {
  position: relative;
  width: 100%;
  height:0;
  padding-bottom: 60.94%;
}
iframe {
  width: 100%;
  border: 0;
}
#iframeContainer iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.resultsThumbnails {
  width: 100%;
  height: 7em;
  margin-top: 5%;
}

.thumbnail {
  height: 100%;
  float: left;
}
#vidDetails {
  float: left;
  margin-left: 2%;
  width: 60%;
}
.title {
  font-size: 1.1em;
  letter-spacing: 0.02em;
  margin-top: 2.5%;
  color: #151515;
}
.channelTitle {
  font-size: 1em;
  letter-spacing: 0.02em;
  color: #545454;
  margin-top: -3%;
}
#resultsContainer {
  height: 40em;
  overflow:auto;
}
/*== Media Responsive for different Desktop browser window size ==*/
@media only screen and (min-width: 765px) {
  #allContainer {
    width: 90%;
  }
  #resultsContainer {
    height: 41em;
  }
}
@media only screen and (min-width: 848px) {
  #allContainer {
    width: 87%;
  }
  #resultsContainer {
    height: 43em;
  }
  }
@media only screen and (min-width: 948px) {
  #allContainer {
    width: 80%;
  }
  #resultsContainer {
    height: 43.5em;
  }
}
@media only screen and (min-width: 1008px) {
  #allContainer {
    width: 75%;
    margin-top: 2.5%;
  }
  #resultsContainer {
    height: 44.2em;
  }

}
@media only screen and (min-width: 1200px) {
  #allContainer {
    width: 65%;
  }
  #resultsContainer {
    height: 44.5em;
  }
}

@media only screen and (min-width: 1400px) {
  #allContainer {
    width: 60%;
    margin-top: 2.2%;
  }
  #resultsContainer {
    height: 45em;
  }
}
@media only screen and (min-width: 1550px) {
  #allContainer {
    width: 55%;
    margin-top: 1.8%;
  }
  #resultsContainer {
    height: 45.2em;
  }
}

@media only screen and (min-width: 1680px) {
  #allContainer {
    width: 50%;
  }
  #resultsContainer {
    height: 45.4em;
  }
}
